<!DOCTYPE html>
<html>
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header')%>
    </body>
    <main>
        <section class="busqueda">           
            <div class="editar-catalogo">
                <a href="/editar">Editar</a>
                <a href="/agregar">Agregar</a>
            </div>
        </section>
    </main>   
</html>